#slider {
	margin: 0 auto;
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider ul.slides {
    display: block;
    width: 15000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider li.slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

img {
	width: 100%;
	height: 100%;
}